[submodule "tpm"]
    path = .config/tmux/plugins/tpm
    url = https://github.com/tmux-plugins/tpm
[submodule ".password-store"]
    path = .password-store
    url = https://github.com/MrZeLee/pwd-store
    branch = main
