[submodule "tpm"]
    path = .config/tmux/plugins/tpm
    url = git@github.com:tmux-plugins/tpm
[submodule ".password-store"]
    path = .password-store
    url = git@github.com:MrZeLee/pwd-store
    branch = main
[submodule ".local/share/nvim-wl-anywhere"]
	path = .local/share/nvim-wl-anywhere
	url = https://github.com/abdullah-albanna/nvim-wl-anywhere.git
