[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = MrZeLee
	email = mrzelee@proton.me
	signingkey = BA821035CA0D67B353D1D4429D3433B849AC5CD1
[commit]
	gpgsign = true
[diff]
  tool = nvimdiff
[difftool "nvimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE"
[pull]
  rebase = true
[init]
	defaultBranch = main
