*

!aerospace/
!aerospace/**
!alacritty/
!alacritty/**
!wezterm/
!wezterm/**
!git/
!git/**
!hypr/
!hypr/**
!karabiner/
!karabiner/**
!nix/
!nix/**
!nvim/
!nvim/**
!tmux/
!tmux/**
!zsh/
!zsh/**
!systemd/
!systemd/**
!.gitignore
